body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.Orange-cloar {
    color: orange;
}

.half-weidth {
    width: 50%;
    padding-left: 2%;

}

.half-weidth img {
    width: 80%;
}

.flexible-contener {
    display: flex;
    padding-bottom: 170px;

}

.Link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-baner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#web-dev-exp {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#web-dev-exp-pro {
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

footer p {
    text-align: center;

}